@using SD_310_W22D_Assignment.Models
@*@model user*@

<h1>User Select</h1>
@*@Html.DropDownListFor(model => model.StudentGender, 
            new SelectList(Enum.GetValues(typeof(Gender))), 
            "Select Gender")*@



<div>
    <a asp-controller="Users" asp-action="Add">Add song to user</a>
</div>
